body {
  background-image: url("https://media-public.canva.com/M3Txk/MAF0DDM3Txk/1/s.jpg");
}

#bg-image-ballons {
  position: absolute;
  width: 40%;
  top: -5%;
  left: -10%;
  z-index: -1;
}

#birthday-number {
  font-size: 135px;
  color: rgb(209, 139, 141);
  letter-spacing: -0.052em;
}
#birthday-text {
  font-size: 70px;
  color: rgb(0, 0, 0);
  letter-spacing: 0em;
}
